@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		/* --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%; */
		--primary: 159 100% 50%;
		--primary-foreground: 159 10% 5%;
		--primary-container: 174deg 100% 26%;
		--primary-high-contrast-text: 172deg 45% 16%;
		--primary-subtle-bg: 165deg 50% 97%;
		--primary-border: 171deg 43% 76%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border text-[18px];
	}
	body {
		@apply bg-background text-foreground;
		/* font-family: Poppins; */
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	/* heading-1 */
	.heading-1 {
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: 4.25rem; /* 106.25% */
		letter-spacing: -0.004rem;
	}

	.heading-2 {
		font-size: 3rem;
		font-style: normal;
		font-weight: 600;
		line-height: 3.25rem; /* 108.333% */
		letter-spacing: -0.03rem;
		text-transform: capitalize;
	}

	/* sub-heading-1 */
	.sub-heading-1 {
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.75rem; /* 122.222% */
		letter-spacing: -0.00225rem;
		text-transform: capitalize;
	}

	/* sub-heading-2 */
	.sub-heading-2 {
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.25rem; /* 112.5% */
		letter-spacing: -0.002rem;
	}
	/* sub-heading-3 */
	.sub-heading-3 {
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1.75rem; /* 116.667% */
		letter-spacing: -0.015rem;
		text-transform: capitalize;
	}
	/* sub-heading-4 */
	.sub-heading-4 {
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.75rem; /* 116.667% */
		letter-spacing: -0.0015rem;
	}

	/* body-text */
	.body-text {
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.875rem; /* 150% */
		letter-spacing: -0.00125rem;
	}

	/* body-md */
	.body-md {
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.875rem; /* 187.5% */
		letter-spacing: -0.001rem;
	}
	/* body-underlined */
	.body-underline {
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.875rem; /* 150% */
		letter-spacing: -0.00125rem;
		text-decoration-line: underline;
	}
	/* heading-2 */
	.muted {
		color: #5d5d5d;
	}

	.active {
		color: hsl(174 100% 26%);
		@apply underline font-bold;
	}
	.bg-footer {
		background-color: #11294d;
		color: #ffffff;
	}
}
@media (max-width: 640px) {
	* {
		font-size: 14px;
	}
}
