@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 180 50% 99.22%;
		--foreground: 170 100% 3.53%;

		--primary: 169.39 100% 35.49%;
		--primary-foreground: 0 0% 100%;

		--card: 180 50% 99.22%;
		--card-foreground: 170 100% 3.53%;

		--popover: 0 0% 100%;
		--popover-foreground: 170 100% 3.53%;

		--secondary: 168.89 55.1% 90.39%;
		--secondary-foreground: 0 0% 0%;

		--muted: 166.67 56.25% 93.73%;
		--muted-foreground: 0 0% 40%;

		--accent: 166.67 56.25% 93.73%;
		--accent-foreground: 169.39 100% 35.49%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 0 0% 90.2%;
		--input: 0 0% 90.2%;
		--ring: 169.39 100% 35.49%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 0%;
		--foreground: 168.89 55.1% 90.39%;

		--primary: 169.39 100% 35.49%;
		--primary-foreground: 0 0% 100%;

		--card: 0 0% 0%;
		--card-foreground: 168.89 55.1% 90.39%;

		--popover: 0 0% 0%;
		--popover-foreground: 168.89 55.1% 90.39%;

		--secondary: 169.52 100% 12.35%;
		--secondary-foreground: 0 0% 100%;

		--muted: 0 0% 9.8%;
		--muted-foreground: 0 0% 50.2%;

		--accent: 169.52 100% 12.35%;
		--accent-foreground: 168.89 55.1% 90.39%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 169.39 100% 35.49%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border text-[18px];
	}
	body {
		@apply bg-background text-foreground;
		/* font-family: Poppins; */
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	/* heading-1 */
	.heading-1 {
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: 4.25rem; /* 106.25% */
		letter-spacing: -0.004rem;
	}

	.heading-2 {
		font-size: 3rem;
		font-style: normal;
		font-weight: 600;
		line-height: 3.25rem; /* 108.333% */
		letter-spacing: -0.03rem;
		text-transform: capitalize;
	}

	/* sub-heading-1 */
	.sub-heading-1 {
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.75rem; /* 122.222% */
		letter-spacing: -0.00225rem;
		text-transform: capitalize;
	}

	/* sub-heading-2 */
	.sub-heading-2 {
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 2.25rem; /* 112.5% */
		letter-spacing: -0.002rem;
	}
	/* sub-heading-3 */
	.sub-heading-3 {
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1.75rem; /* 116.667% */
		letter-spacing: -0.015rem;
		text-transform: capitalize;
	}
	/* sub-heading-4 */
	.sub-heading-4 {
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.75rem; /* 116.667% */
		letter-spacing: -0.0015rem;
	}

	/* body-text */
	.body-text {
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.875rem; /* 150% */
		letter-spacing: -0.00125rem;
	}

	/* body-md */
	.body-md {
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.875rem; /* 187.5% */
		letter-spacing: -0.001rem;
	}
	/* body-underlined */
	.body-underline {
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.875rem; /* 150% */
		letter-spacing: -0.00125rem;
		text-decoration-line: underline;
	}

	.muted {
		color: #5d5d5d;
	}

	.btn-text {
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: 2.25rem; /* 225% */
		letter-spacing: -0.02rem;
		text-transform: uppercase;
	}

	.active {
		color: hsl(174 100% 26%);
		@apply underline font-bold;
	}
	.bg-footer {
		background-color: #11294d;
		color: #ffffff;
	}
	.required:after {
		content: " *";
		color: red;
		font-size: 1.4rem;
		font-weight: normal;
	}
}
@media (max-width: 640px) {
	* {
		font-size: 14px;
	}
}
